
<div class="yy">
    <body>
    <div class="container , column">
        
        <div >
            <h2 class="pre">prescription of Diagnoses</h2>
        
                <p>prescription ID: </p> <hr/>
                <p>DR ID:   </p>  <hr/>
                <p>Diagnoses Results </p><hr/>
                <p>Required drugs: </p>  <hr/>
                <p>Required rumors:</p>       <hr/>     
                <p>Required tests: </p> <hr/>
            
          </div>
      <div> <img src="/assets/mid.jpg" style="margin-top: 170px;width: 390px; margin-left: 20px;"></div>
     
    </div>

  

  </body>

</div>
