
<div class="yy">
<div class="dropdown">
    <div class="scan">Lab Scans </div>
    <div class="dropdown-content">
      <p><img src="/assets/result.jpeg"></p>
    </div>
  </div>

  <div class="dropdown">
    <div class="scan"> X-Rays Scans </div>
    <div class="dropdown-content">
      <p> <img src="/assets/X-RAY.jpeg"></p>
    </div>
  </div>

  <div class="dropdown">
    <div class="scan">Lab Tests </div>
    <div class="dropdown-content">
      <p>NO TESTS</p>
    </div>
  </div>

  <div class="dropdown">
    <div class="scan">CT scans </div>
    <div class="dropdown-content">
      <p>NO CT-SCANS</p>
    </div>
  </div>

  <div class="dropdown">
    <div class="scan">MRI Scans </div>
    <div class="dropdown-content">
      <p>NO MRI Scans </p>
    </div>
  </div>
</div>