<p class="h">
    <mat-toolbar color="primary" >
     <a       [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon >broken_image</mat-icon>
     </a>
    <span > SMART INTEGRATED ELCRONIC SERVICE SYSTEM </span>
    <span class="example-spacer"></span>
    <mat-icon>list_alt</mat-icon>
    <a style="margin-right: 5px;"  [routerLink]="'/about'" mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
    	    About 
    </a>

    <mat-icon> call_missed_outgoing</mat-icon>
    <a style="margin-right: 10px;" [routerLink]="'/contactus'" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
       Contact
    </a>
     

   
  </mat-toolbar>
  </p>